#cheese {
    color: #ffa600;
}



#header2 a {
    text-align: center;
    color:black;
    font-style: italic;
}

#home-styling {

}

#cheeseburger {
    color: brown;
    font-family: "Apple Chancery", sans-serif;
}

#cheese {
    font-family: "Brush Script MT", sans-serif;
}

#cheese, #cheeseburger {
    font-size: 25px;
}

#home {
    color:black;
    font-style: italic;
    font-size: 60px;
    text-align: center;
}

html#main {
    background-color: lightgray;
}

#button1, #button2 {
    margin-bottom:15px;

    border-color: black;
    background-color: none;
    border-radius: 12px;
}

#button1:hover, #button2:hover {
    transition-duration: 0.4s;
    box-shadow: 5px 5px gray;
    text-shadow: 3px 3px 5px gray;
    scale: 1.2;

}

a {
    text-decoration: none;
}

#header2:hover {
    text-shadow: 3px 3px 5px gray;
    transition-duration: 0.4s;
}