#cheese {
    color:rgb(231, 162, 0);
}

#header2 a {
    text-align: center;
    color:black;
    font-style: italic;
}

#home-styling {

}

#cheeseburger {
    color: brown;
    font-size: 35px;
}

#cheese, .subheader {
    font-family: "Brush Script MT", sans-serif;
    font-size: 35px;
}

#home {
    color:black;
    font-style: italic;
    font-size: 60px;
    text-align: center;
}

html#main {
    background-color: lightgray;
}

#button1, #button2 {
    margin-bottom:15px;

    border-color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

#button1:hover, #button2:hover {
    transition-duration: 0.4s;
    box-shadow: 5px 5px black;

}

a {
    text-decoration: none;
}